<ion-header>
  <ion-toolbar>
    <ion-title>Información del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="mapBackground">
        <google-map [isTrack]="false"></google-map>
    </div>
    <div id="travelInfo">
      <!-- <ion-label>GuidAlquiler:{{alquiler.guidalquiler}}</ion-label> -->
      <ion-label>GuidScooter:{{alquiler.guidscooter}}</ion-label>
      <ion-label>Precio del Alquiler:{{alquiler.precio}}</ion-label>
      <ion-button expand="block" id="goHomeBtn" routerLink="/home">Volver al Inicio</ion-button>
    </div>
</ion-content>
 