<ion-header>
  <ion-toolbar>
    <ion-title>Información del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="mapBackground">
        <google-map [isTrack]="false" [showScooters]="false" [alquiler]="alquilerguid" [followME]="false"></google-map>
    </div>
    <div id="travelInfo">
      <ion-label>Fecha: {{fecha}}</ion-label>
      <ion-label>Duración: {{duracion}}  U$S{{precio}}</ion-label>
      <ion-label>Scooter: {{guidscooter}}</ion-label>

      <ion-button expand="block" id="goHomeBtn" (click)="goHome()">Volver al Inicio</ion-button>
      <!-- <ion-back-button id="goHomeBtn" defaultHref="/home">Volver al Inicio</ion-back-button> -->
    </div>
</ion-content>
 