<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Saldo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div id="saldoBox">
    <ion-item style="opacity:1">
      <ion-label style="opacity:1">Saldo Actual: </ion-label>
      <ion-input type="number" disabled="true" style="opacity:1 !important">U$S  {{saldoActual}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Recargar: U$S</ion-label>
      <ion-input type="number" [(ngModel)]="amount" placeholder="Cantidad"></ion-input>
    </ion-item>
    <div id="paypalBtn">
      <ion-button expand="block" ion-button icon-only (click)="doPaypal()">
        Recargar
      </ion-button>
    </div>
  </div>
</ion-content>