<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Saldo</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div id="saldoBox">
      <ion-item>
        <ion-label>Saldo Actual</ion-label>
        <ion-label>{{saldoActual}}</ion-label>
      </ion-item>    
      <ion-item>
        <ion-label>Cantidad a recargar</ion-label>
        <ion-input type="number" [(ngModel)]="amount" placeholder="Cantidad"></ion-input>
      </ion-item>
      <div id="paypalBtn">
        <ion-button expand="block" ion-button icon-only (click)="doPaypal()" >
          Recargar
        </ion-button>
      </div>
    </div>
  </ion-content>
  