.qrscannerbtn{
    position: absolute;
    left: 50%;
    width: 120px;
    height: 50px;
    margin-left: -60px;
    bottom: 30px;
  }

  .invisiblebackground{
    background: transparent none !important;
  }