<!-- <ion-header>
  <ion-toolbar> -->
    <ion-icon id="closerRegisterBtn" icon-only name="close" (click)="goback()"></ion-icon>
  <!-- </ion-toolbar>
</ion-header> -->

<!-- <ion-content>  -->
    <div id="buttonsdiv">
      <ion-button (click)="writeCode()" class="actionButton writeBtn"><ion-icon name="create"></ion-icon></ion-button>   
      <ion-button (click)="toggleLight()" class="actionButton lightBtn"><ion-icon name="flashlight"></ion-icon></ion-button>   
    </div>
    <!-- <ion-button full icon-left (click)="scanCode()" class="qrscannerbtn"><ion-icon name="qr-scanner"></ion-icon>Scanner</ion-button>        -->
<!-- </ion-content> -->
 