div#loginForm {
    width: 75%;
    position: absolute;
    left: 50%;
    margin-left: -37%;
    opacity:0;
    top: 0%;
}
div#loginForm  input {
    padding: 12px;
    border-radius: 9px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    text-align: center;
}
div#loginForm img#logoImage{
    width: 76%;
    margin-bottom: 30px;
    margin-left: 12%;
}
#loginbtn{
    width: 100%;
}
#noAccountYet{
    text-align: center;
    margin-top: 10px;
}
div#noAccountYet a {
    text-decoration: none; 
}

.shadow {
    -moz-box-shadow:    1px 1px 30px -6px #ccc;
    -webkit-box-shadow: 1px 1px 30px -6px #ccc;
    box-shadow:         1px 1px 30px -6px #ccc;
  }

a#ghost {
    background-color: lightgray;
    color: black !important;
    text-decoration: none;
    position: fixed;
    top: 10px;
    left: 10px;
    opacity: .2;
    padding: 5px;
    border-radius: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
}



.loginformShow{
    top:10% !important;
    opacity:1 !important;
    transition-delay: 0ms;
    transition-duration: 2s;   
}

img#logoImageNoLogin{
    width: 76%;
    margin-bottom: 30px;
    margin-left: 12%;
    top: 25%;
    position: fixed;
    opacity: 0.8;
}

img#logoImageNoLogin.hideImg{
    opacity: 0 !important;
    transition-delay: 0ms;
    width: 9px;
    transition-duration: 2s;
    margin-left: 50%;
    margin-top: 50%;
}