
 ion-item.noalquileres {
    width: 75%;
    position: absolute;
    top: 50%;
    height: 50px;
    /* border: 1px solid black; */
    margin-top: -81px;
    left: 50%;
    margin-left: -38.5%;
    opacity: 0.5;
}