<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="alquilerItem" *ngFor="let alquiler of alquileres" (click)="ViewDetails(this)">
      <ion-icon [name]="travel" slot="start"></ion-icon>
      <ion-label class="alquilerFecha" >{{alquiler.fechaAlquiler}}</ion-label>
      <ion-label class="alquilerPrecio">US {{alquiler.precioAlquiler}}</ion-label>
    </ion-item>
  </ion-list> 
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>

<!-- this.alquileres.push({
  username: tempAlquiler.cliente,
  fechaAlquiler: tempfecha.substr(0,18).replace("[a-zA-Z]"," "),
  precioAlquiler:tempAlquiler.price,
  duracion:tempduration.substr(12,8).replace("[a-zA-Z]",""),
  ubicacionesDeReferencia:tempgeometry.puntos
}) -->