<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-list *ngIf="alquileres.length>0" >
    <ion-item *ngFor="let alquiler of alquileres"  class="alquilerItem"  (click)="ViewDetails(alquiler)">
      <ion-label class="alquilerFecha">{{alquiler.fechaAlquiler}}</ion-label>
      <ion-label class="alquilerPrecio">U$S {{alquiler.precioAlquiler}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-item class="noalquileres" *ngIf="alquileres.length==0">
    <ion-title>No se encontraron viajes</ion-title>
  </ion-item>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>

<!-- this.alquileres.push({
  username: tempAlquiler.cliente,
  fechaAlquiler: tempfecha.substr(0,18).replace("[a-zA-Z]"," "),
  precioAlquiler:tempAlquiler.price,
  duracion:tempduration.substr(12,8).replace("[a-zA-Z]",""),
  ubicacionesDeReferencia:tempgeometry.puntos
}) -->