<ion-header>
  <ion-toolbar>
    <ion-title>Viaje en curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="mapBackground">
        <google-map [isTrack]="true" [showScooters]="false" [alquiler]=""></google-map>
    </div>
    <div id="travelInfo">
      <ion-label>Comienzo: {{travelStartTime}}</ion-label>
      <ion-label>Duración: {{travelDurationCounter.toString()}}</ion-label>
      <!-- <ion-label>Alquiler:"{{alquiler}}"</ion-label>       -->
      <!-- <ion-label>GuidScooter:"{{guidScooter}}"</ion-label> -->
      <ion-button expand="block" id="endTravelBtn" (click)="stopTravel()"><ion-label >Finalizar</ion-label></ion-button>
    </div>
</ion-content>
 