<ion-header>
  <ion-toolbar>
      <ion-title>
        <ion-icon style="font-size: 2.4pc;margin-left: 0.3pc;" left icon-only name="arrow-round-back" (click)="goback()"></ion-icon>
        <ion-label style="position: relative;top: -12px">Cambiar ubicación del servidor</ion-label>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="changeipportcard">
    <ion-item>
      <ion-label>ServerIP/Nombre</ion-label>
      <ion-input [(ngModel)]="IP" placeholder="IP/Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Puerto</ion-label>
      <ion-input [(ngModel)]="PORT" placeholder="PORT"></ion-input>
    </ion-item>
  </ion-card>
      <ion-button (click)="changeIP()" id="changeipportbtn">
        <ion-label>Cambiar datos</ion-label>
      </ion-button>
</ion-content>
 