<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Servidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="changeipportcard">
    <ion-item>
      <ion-label>IP o Nombre</ion-label>
      <ion-input [(ngModel)]="IP" placeholder="IP/Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Puerto</ion-label>
      <ion-input [(ngModel)]="PORT" placeholder="PORT"></ion-input>
    </ion-item>
  </ion-card>
      <ion-button (click)="changeIP()" id="changeipportbtn">
        <ion-label>Cambiar datos</ion-label>
      </ion-button>
      
      <ion-button (click)="sendNotification('FUCKYOU')" id="changeipportbtn">
          <ion-label>sendNotification</ion-label>
        </ion-button>
</ion-content>
 